* {
    pad: 0;
    margin: 0;
}

body {
    background-color:coral;
}

.hola_mundo_JS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 280px;
}

.hola_mundo_JS h2 { 
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}

.hola_mundo_JS p {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkblue;
}